body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: gray;
}

.filter-container {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    background-color: lightblue;
}

fieldset {
    border-width: 0;
}

#one, #two, #three, #four, #five {
    background-color: aquamarine;
}

@media (max-width : 900px) {

}